.navbar-brand
{
    font-size: x-large !important;
}

.spinner {
  padding-right: 10px !important;
}

.correct-answer {
  border-color: green !important;
}

.wrong-answer {
  border-color: red !important;
}

.top-padding {
  padding-top: 10px;
}

.bottom-padding {
  padding-bottom: 10px;
}

.title {
  font-size: x-large;
  font-weight: 400;
}